@import './reset.scss';
@import './fonts/fonts.scss';
@import './theme/normal.scss';

html {
    font-size: 10px;
}

body {
    font-family: var(--serif-font-medium);
    background-color: var(--background-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    font-family: var(--serif-font-medium);
    font-size: 30px;
}
