.appNormalTheme {
    --serif-font-medium: 'Poppins', sans-serif;

    --background-color: #fefefe;
    --light-background-color: #f1f5f8;
    --tiny-background-color: #f4f7f9;

    --inverted-background-color: #7f858d;
    --danger-color: #ee3f3e;

    --text-color: #343434;
    --accent-color: #4690e2;
}
