@font-face {
    font-family: 'BasisGrotesqueProRegular';
    src: url(/src/app/styles/fonts/BasisGrotesquePro/BasisGrotesquePro-Regular.woff2);
    font-display: block;
}

@font-face {
    font-family: 'BasisGrotesqueProMedium';
    src: url(/src/app/styles/fonts/BasisGrotesquePro/BasisGrotesquePro-Medium.woff2);
    font-display: block;
}

@font-face {
    font-family: 'BasisGrotesqueProBold';
    src: url(/src/app/styles/fonts/BasisGrotesquePro/BasisGrotesquePro-Bold.woff2);
    font-display: block;
}
